main {
    display:grid;
    grid-template-columns:100vw;
    grid-template-rows:50px calc(100vh - 50px);
    > .toolset {
        display:grid;
        grid-template-columns:100%;
        grid-template-rows:100%;
        background:$grayscale-white;
        position:relative;
        z-index:1;
        box-shadow:$global-shadows;
        justify-items:start;
        align-items:center;
        padding:0 1rem;
        > a.fn-add {
            display:inline-flex;
            flex-flow:row nowrap;
            align-items:center;
            justify-content:flex-start;
            cursor:pointer;
            > * {
                color:rgba($grayscale-black,.32);
                @include defaultTransition();
            }
            &:hover {
                * {
                    color:rgba($grayscale-black,.8);
                }
            }
            .material-icons {
                font-size:28px;
                line-height:1.2em;
            }
            .text {
                font-size:10px;
                line-height:1.2em;
                font-weight:700;
                max-width:60px;
                text-transform:uppercase;
            }
        }
    }
}