body > .dialog {
    position:fixed;
    left:50%;
    top:50%;
    background:$grayscale-white;
    width:350px;
    max-width:100vw;
    max-height:100vh;
    border-radius:2px;
    box-shadow:$global-shadows;
    padding:1.5rem;
    opacity:0;
    pointer-events:none;
    > :first-child {
        margin-top:0;
        padding-top:0;
    }
    > :last-child {
        margin-bottom:0;
        padding-bottom:0;
    }
    > .functions {
        margin-top:2rem;
        text-align:right;
        display:flex;
        flex-flow:row-nowrap;
        justify-content:flex-end;
        align-items:center;
        .material-icons {
            padding-top:0;
            padding-bottom:0;
            font-size:18px;
            line-height:1.2em;
        }
        a {
            cursor:pointer;
            display:inline-flex;
            padding:5px 10px;
            user-select:none;
            border-radius:2px;
            text-align:center;
            width:auto;
            justify-content:center;
            @include defaultTransition();
            &:not(:last-child) {
                margin-right:1rem;
            }
            &:hover {
                background:rgba($grayscale-black,.16);
            }
            &.fn-delete {
                margin-right:auto;
                &:hover {
                    color:$grayscale-white;
                    background:$error-color;
                }
            }
            &.fn-save {
                &:hover {
                    color:$grayscale-white;
                    background:$success-color;
                }
            }
        }
    }
    @include defaultTransition();
    @include transform(translate(-50%,-60%) scale(.8));
    &.open {
        pointer-events:auto;
        opacity:1;
        @include transform(translate(-50%,-50%) scale(1));
    }
}