.view {
    > *:not(:last-child) {
        margin-bottom:2rem;
    }
    .header {
        h2 {
            margin-top:0;
            margin-bottom:0;
        }
        display:flex;
        flex-flow:row nowrap;
        justify-content:space-between;
        align-items:center;
        > .favorite {
            cursor:pointer;
        }
    }
    .fn-favorite {
        cursor:pointer;
        color:rgba($grayscale-black,.32);
        @include defaultTransition();
        &:hover {
            color:rgba($grayscale-black,.8);
        }
        &.favorited {
            color:#f50057;
        }
    }
    .keywords {
        margin-bottom:-4px;
        span {
            display:inline-flex;
            font-size:14px;
            line-height:1.2em;
            padding:4px 10px;
            border-radius:16px;
            margin-bottom:4px;
            margin-right:2px;
            background:rgba($grayscale-black,.16);
        }
    }
}