.view {
    > *:not(:last-child) {
        margin-bottom:2rem;
    }
    .header {
        h2 {
            margin-top:0;
            margin-bottom:0;
        }
        display:flex;
        flex-flow:row nowrap;
        justify-content:space-between;
        align-items:center;
        > .favorite {
            cursor:pointer;
        }
    }
}